
html {

  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  border-left: 5px solid red;
  border-right: 5px solid red;
  display: flex;
  justify-content: center;

}
body {
  max-width: 1800px;
  overflow: auto;
}
h1 {
  font-size: 10vw;
  font-weight: 700;
  color: white ;
}
/* Cover */
.container-cover{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/head.jpg');
  overflow: hidden;
  
}
.cover-transparency{
  height: inherit;
  width: inherit;
  background: rgba(255, 0, 0, 0.4); 
  justify-content: center;
  display: flex;
}
.profile-info{
  color: white solid;
  display: flex;
  flex-direction: column;
  
  text-align: center; 
  color: white;
  justify-content: center;
  justify-content: space-around;
}

.profile-name{
  font-size: 10vw;
  
  color: inherit;
}
.profile-title{
  font-size: 5vw;
  
  color: inherit;
}
.profile-section{

  color: inherit;
  justify-content: center;
}
.profile-location{
  color: inherit;
  margin-right: 5px;
}
.profile-content a:visited{
  color: white;
}
.profile-head{
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}
.profile-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 1.5;
  color: inherit;
}
.profile-label{
  padding-top, padding-bottom: 2px;
  padding-right:5px;
  padding-left:5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: small;
  font-weight: bold;
  cursor: default;
  opacity: .9;
  background-color: white;
  color: black;
}
.email{
  padding-top:5px;
  padding-bottom: 5px;
}
.email img {
  width: 40px;
}
.email img:hover{
  box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  transform: rotate(-90deg);
}

.project-header{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/*Project List*/

.container-list {
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

/*One Project*/
.project-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  padding: 5px;

}

/*Project Info */
.project-info-container{
  display: flex;
  flex:3;
  
  /*align-items: flex-start , center, flex-end;*/
  /*flex-basis : 70%; instead of using basis*/
}

.project-info-box{
  display: flex;
  padding: 2%;
  width:inherit;
  text-align: left;
  flex-direction: column;
  /*
  justify-content: same direction as flex-direction
  */
}

.project-title{
  order: 1;
  flex: 1;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  align-items: center;
  text-decoration: underline solid grey;

  
}
.project-tags {
  order: 2;
  flex: 1;
  margin-top: 5px;
  display: flex;
  align-items: center;

  
}

/*each tage property*/
.label {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 3px;
  margin-top: 3px;
  font-size: large;
  cursor: default;
  opacity: .9;
  background-color: #888;
}
.project-description{
  margin-top: 5px;
  flex: 3;
  order: 3;
  display: flex;
  align-items: center;
  overflow: auto;
}

.project-links {
  margin-top: 5px;  
  order: 4;
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

/*each link*/
.project-button{
  margin-right: 10px;
  cursor: help;
}
/*Project Pictures*/
.project-demonstration{
  display: flex;
  flex:2;
  padding: 10px;
  width: auto;
  overflow: hidden;
}
.project-pic{ 
}
.stick-left{
  order: 1;
  padding-left: 20px;
  justify-content: flex-end;
}

.stick-right{
  justify-content: left;
  order: 2;
}

/*remove underline*/
a {
  text-decoration: none;
  color: black;
}
.project-links a:hover{
  color: red;
  box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  background-color: grey;
}

/*hyperlink stay black after visit*/
a:visited{
  color: red;
}

footer{
  color: white;
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  flex-shrink: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.9) 0%, #ff4136 100%);
}
footer a {
  color: white;
  cursor: help;
}


